<div class="jumbotron jumbotron-fluid titlebar">
  <div class="container centered">
    <img src="assets/images/banners/sol-standard-logo-banner.png" class="centered logo"
      [ngStyle]="{height: bannerSizes[bannerSize]}" name="Sol Standard Logo" />
    <h1 class="tagline">Arcade Tactics Action</h1>
    <a class="btn btn-primary download-button" href="{{releaseInfo?.html_url}}" target="_blank">
      <!--TODO Add ReleaseInfo to context so that link to download page works-->
      <span class="fa fa-download"></span> Download on GitHub
    </a>
  </div>
</div>