@text-border-size: 2px;

.titlebar {
    margin-top           : -2em;
    background           : rgb(99, 99, 99);
    background-image     : url('/assets/images/banners/world-map.png');
    background-position  : center;
    background-blend-mode: multiply;
    border-bottom        : 2px;
    border-bottom-style  : solid;
    border-bottom-color  : black;
    margin-bottom        : 0.5em;

}

.tagline {
    padding-bottom           : 0.2em;
    font-weight              : bold;
    text-shadow:
    -@text-border-size -@text-border-size 0 #000,  
     @text-border-size -@text-border-size 0 #000,
    -@text-border-size  @text-border-size 0 #000,
     @text-border-size  @text-border-size 0 #000;
}

.centered {
    text-align : center;
    margin-left: auto;
}

.logo {
    width: auto;
}