<app-title-banner [bannerSize]="bannerSize"></app-title-banner>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="content-zone">
        <app-updates></app-updates>
      </div>
    </div>
    <div class="col">
      <div class="content-zone">
        <app-community></app-community>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <h1>Sol Standard</h1>
    <p>
      Sol Standard is a tactical strategy game that pits two players against each other in the pursuit of victory!
      There are several classes of units available, as well as computer-controlled monsters.
      Plenty of items and interactable tiles allow for different gameplay experiences on different battle maps.
    </p>
  </div>

  <app-features-list></app-features-list>

  <div class="content-zone">
    <div class="row">
      <div class="col-xl-auto">
        <app-unit-list (selectedUnitEvent)="selectUnit($event)"></app-unit-list>
      </div>
      <div class="col-xl">
        <app-unit-detail [unitId]="selectedUnitId"></app-unit-detail>
      </div>
    </div>
  </div>

  <div class="content-zone">
    <app-tiles></app-tiles>
  </div>
</div>