<app-title-banner [bannerSize]="bannerSize"></app-title-banner>

<div class="container">
  <div class="jumbotron">
    <h1>Sol Standard</h1>
    <p>
      Sol Standard is a tactical strategy game that pits two players against each other in the pursuit of victory!
      There are several classes of units available, as well as computer-controlled monsters.
      Plenty of items and interactable tiles allow for different gameplay experiences on different battle maps.
    </p>
  </div>
</div>

<!--TODO Add updates item to the left bottom of the initial page. 
  Add Community panel to the right bottom linking to discord/itch-->


<!--TODO In-line the unit detail page dynamically upon selecting a unit 
  and show it to the right on desktop, or up above on mobile.-->
<app-features-list></app-features-list>

<div class="container main">
  <div class="row">
    <div class="col-xl-auto">
      <app-unit-list (selectedUnitEvent)="selectUnit($event)"></app-unit-list>
    </div>
    <div class="col-xl">
      <app-unit-detail [unitId]="selectedUnitId"></app-unit-detail>
    </div>
  </div>
</div>

<div class="container main">
  <app-tiles></app-tiles>
</div>