<div class="container main">
    <h1>Features</h1>
    <ul class="list-group-flush">
        <li class="list-group-item">2-Player Competitive Tactics Action!</li>
        <li class="list-group-item">Online and Local Multiplayer</li>
        <li class="list-group-item">Gamepad Support</li>
        <li class="list-group-item">Units with unique skills</li>
        <li class="list-group-item">Weapons and items to augment your plans</li>
        <li class="list-group-item">Interactive terrain you can utilize to turn the tide of battle</li>
        <li class="list-group-item">Neutral AI units that add a wrinkle to the battle plan</li>
    </ul>
</div>

<div class="container main">
    <app-unit-list></app-unit-list>
</div>

<div class="container main">
    <app-tiles></app-tiles>
</div>