/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

body {
    background-image: url('src\assets\images\background.png');
    color           : rgb(217, 215, 211);
}

.container {
    background   : rgb(23, 24, 28);
    border-radius: 0.3rem;
    padding      : 1rem;

    &.main {
        background: rgba(40, 40, 40, 0.6);
    }
}

.jumbotron {
    background: rgb(29, 31, 35);
}

.centered {
    display     : block;
    margin-left : auto;
    margin-right: auto;
}