<h1>Units</h1>
<div class="unit-panel row align-items-center" *ngFor="let role of roles()">
    <div class="col-sm-2 col">
        <h2 class="role">{{role}}</h2>
    </div>
    <div class="col-auto" *ngFor="let unit of getUnitsByRole(role)">
        <a [routerLink]="['/features/unit', unit.id]">
            <div class="card unit-card" (mouseover)="startHoverPortrait(unit)" (mouseout)="stopHoverPortrait(unit)">
                <img *ngIf="!unitIsHovered(unit)" class="card-img-top portrait" src="{{getRedPortrait(unit)}}" />
                <img *ngIf="unitIsHovered(unit)" class="card-img-top portrait portrait-hover" src="{{getBluePortrait(unit)}}" />
                <div class="card-body">
                    <h5 class="name card-title">{{unit.name}}</h5>
                </div>
            </div>
        </a>
    </div>
</div>