<h1>Units</h1>
<div class="unit-panel row align-items-center" *ngFor="let role of roles()">
    <div class="col-sm-2 col">
        <h2 class="role">{{role}}</h2>
    </div>
    <div class="col-auto" *ngFor="let unit of getUnitsByRole(role)">
        <div class="card unit-card">
            <img class="card-img-top portrait" src="{{getRandomPortrait(unit)}}" />
            <div class="card-body">
                <h5 class="name card-title">{{unit.name}}</h5>
            </div>
        </div>
    </div>
</div>