.unit-panel {
    background   : rgba(50, 50, 50, 0);
    margin-bottom: 0.2rem;
    text-align   : right;

    .role {
        margin-top   : auto;
        margin-bottom: auto;
    }

    a {
        color          : white;
        text-decoration: none;
    }
}

.card {
    width        : 8em;
    background   : rgba(50, 50, 50, 0.8);
    margin-bottom: 0.2em;

    .portrait {
        @portrait-size: 110px;
        width         : @portrait-size;
        height        : @portrait-size;
        margin-left   : auto;
        margin-right  : auto;
        margin-top    : 0.3em;
    }

    .card-body {
        padding: 0.5rem;

        .card-title {
            text-align   : center;
            margin-bottom: 0px;
        }
    }

    &:hover {
        background: rgb(70, 70, 70);
    }
}