<h1>Community</h1>
<div class="discord-card">
    <a class="discord-link" href="https://discord.gg/B94vWYR">
        <div class="media">
            <img class="mr-3 sol-icon" src="assets/images/sol-icon-64.png" alt="Sol logo">
            <div class="media-body">
                <h5 class="mt-0">Join our Discord server! <span class="click-me">(click me)</span></h5>
                Get the latest updates and organize games here.
            </div>
        </div>
    </a>
</div>


<div>
    <iframe frameborder="0"
        src="https://itch.io/embed/528497?linkback=true&amp;bg_color=1d1f23&amp;fg_color=d9d7d3&amp;link_color=fa5c5c&amp;border_color=545b61"
        width="552" height="167">
    </iframe>
</div>