<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="home"><img src="assets/images/banners/sol-standard-logo-nav.png" name="Sol Standard" /></a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="home">Home</a>
        <a class="nav-item nav-link" href="features">Features</a>
        <a class="nav-item nav-link" href="media">Media</a>
        <a class="nav-item nav-link" href="download">Download</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="https://github.com/Talberon" target="_blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
    </div>
  </nav>