<button id="back_button" class="btn btn-light" [routerLink]="['/features']">
  <span class="fa fa-backward"></span> Back to Features
</button>

<div class="container">
  <div class="media">
    <img class="portrait align-self-center mr-3" src="{{getBluePortrait(unit)}}" />
    <div class="media-body">
      <h1 class="mt-0" class="name">{{unit.name}}</h1>
      <h4 class="role">{{unit.role}}</h4>
      <p class="description">{{unit.description}}</p>
    </div>
    <img class="portrait align-self-center ml-3" src="{{getRedPortrait(unit)}}" />
  </div>
</div>

<carousel>
  <slide *ngFor="let gif of unit.getGifs(); let index=index">
    <img class="carousel-gif media-image centered" src="{{gif}}" />
    <div class="carousel-caption d-none d-md-block">
      <h4 class="">{{unit.name}} Abilities - {{index+1}}</h4>
    </div>
  </slide>
</carousel>