<h1>Updates</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Update</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Site relaunch.</td>
            <td>08-25-2019</td>
        </tr>
        <tr>
            <td>Sol Standard Alpha v0.6.0 Release</td>
            <td>09-03-2019</td>
        </tr>
        <tr>
            <td>Sol Standard Alpha v0.7.0 Release</td>
            <td>09-18-2019</td>
        </tr>
    </tbody>
</table>